version: 2.1
executors:
  browser-executor:
    docker:
      - image: circleci/node:20-browsers
    working_directory: ~/repo
jobs:
  build-babel-plugin:
    executor: browser-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install
          command: npm ci
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Audit
          command: npm audit --audit-level=low
      - run:
          name: Test
          command: npm run test
      - persist_to_workspace:
          root: .
          paths: .
  deploy-babel-plugin:
    executor: browser-executor
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > .npmrc
      - run:
          name: Publish package
          command: npm publish --access public
workflows:
  version: 2
  daily-run-workflow:
    when:
      and:
        - equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
        - equal: [ "daily build", << pipeline.schedule.name >> ]
    jobs:
      - build-babel-plugin
  test-deploy:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - build-babel-plugin:
          filters:
            tags:
              only: /.*/
      - hold:
          type: approval
          requires:
            - build-babel-plugin
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - deploy-babel-plugin:
          requires:
            - hold
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
